<ul class="thumbnails">
    {{#each CreAcc}}
<div id="page"> 
  <!-- Main Container -->
  <section class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <div class="col-main col-sm-9 animated" style="visibility: visible;">
          <div class="my-account">
            <div class="page-title">
              <h1>Create Account</h1>
            </div>
            <div class="line"></div>
            <div class="dashboard">
              <form action="#" method="post" id="form-validate">
                <div class="fieldset">
                  <input name="" type="hidden" value="bO6ubPokBJ71l86o">
                  <ul class="form-list">
                    <li class="fields">
                      <div class="customer-name">
                        <div class="input-box name-firstname">
                          <label for="firstname">First Name<span class="required">*</span></label>
                          <div class="input-box1">
                            <input type="text" id="firstname" name="" title="" maxlength="255" class="input-text required-entry">
                          </div>
                        </div>
                        <div class="input-box name-lastname">
                          <label for="lastname">Last Name<span class="required">*</span></label>
                          <div class="input-box1">
                            <input type="text" id="lastname" name="" title="" maxlength="255" class="input-text required-entry">
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <label for="email">User Name<em class="required">*</em></label>
                      <div class="input-box">
                        <input type="text" name="" id="username" title="User Name" class="input-text required-entry validate-email">
                      </div>
                    </li>
                    <li>
                      <label for="email">Email Address<em class="required">*</em></label>
                      <div class="input-box">
                        <input type="text" name="" id="email" title="Email Address" class="input-text required-entry validate-email">
                      </div>
                    </li>
                    <li>
                      <label for="email">Password<em class="required">*</em></label>
                      <div class="input-box">
                        <input type="password" name="" id="pass" title="Password" class="input-text required-entry validate-email">
                      </div>
                    </li>
                    <li>
                      <label for="email">Enter the Password<em class="required">*</em></label>
                      <div class="input-box">
                        <input type="password" name="" id="enpass" title="Enter the Password" class="input-text required-entry validate-email">
                      </div>
                    </li>
                  </ul>
                </div>
               
                <div class="buttons-set">
                  <p class="required">* Required Fields</p>
                  <button type="submit" title="Save" class="button"><span>Create Account</span></button>
                  <a href="#"><small>« </small>Back</a> </div>
              </form>
            </div>
            <!--dashboard--> 
          </div>
        </div>
        <aside class="col-right sidebar col-sm-3 animated" style="visibility: visible;">
          <div class="block block-account">
            <div class="block-title"> My Account </div>
            <div class="block-content">
              <ul>
                <li><a href="#"><span> Account Dashboard</span></a></li>
                <li class="current"><a>Account Information</a></li>
                <li><a href="#"><span> Address Book</span></a></li>
                <li><a href="#"><span> My Orders</span></a></li>
                <li><a href="#"><span> Billing Agreements</span></a></li>
                <li><a href="#"><span> Recurring Profiles</span></a></li>
                <li><a href="#"><span> My Product Reviews</span></a></li>
                <li><a href="#"><span> My Tags</span></a></li>
                <li><a href="#"><span> My Wishlist</span></a></li>
                <li><a href="#"><span> My Applications</span></a></li>
                <li><a href="#"><span> Newsletter Subscriptions</span></a></li>
                <li class="last"><a href="#"><span> My Downloadable Products</span></a></li>
              </ul>
            </div>
            <!--block-content--> 
          </div>
          <!--block block-account--> 
          
        </aside>
        <!--col-right sidebar col-sm-3--> 
      </div>
    </div>
  </section>
  <!-- Main Container End --> 

</div>
{{/each}}
</ul>